 <main>
  <p id="notice">Welcome! You have signed up successfully.</p>
  <div class='container px-5 px-sm-0'>
   <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <table class='table'>
       <tr>image</tr>
       <tr><%= @user_introduction %></tr>
   	     <th>name</th>
   	     <th><%= @user_name %></th>
       </tr>
       <tr>
      	  <th>introduction</th>
      	  <th><%= @user_introduction %></th>
       </tr>
      </table>
      <%= link_to  edit_user_path(@user), class: 'btn btn-outline-secondary btn-block' do %>
       <i class="fa fa-user-cog"></i>
      <% end %>
      
      
  
   
      
      
      </div>
      </div>
      </div>
      </main>
  <!--投稿フォーム-->









