<main>
  <div class="main-content">
    <div class="icom_post">
      <h2>Usre info</h2>
    </div>
    <div class="posts_list">
      <h2>Books</h2>
      <table>
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>name</th>
              <th>Opinion</th>
            </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
          	<tr> 
          	<td>
          	<%= user.profile_image_id %>
          	</td>
          	<td>
          	<p>link=>booksh</p>
          	</td>
          	<td>
            <p>booktext</p>
            </td>
          	</tr>
          <% end %>
          </tbody>
        </table>
    </div>
  </div>
</main>
