 <p id="notice">You have created book successfully.</p>
  <div class='container px-5 px-sm-0'>
   <div class='row'>
    <div class='col-md-3'>
     
    <%= render 'users/list' %>
    
    </div>


 <div class='col-md-8 offset-md-1'>
 <h2>Book detail</h2>
  <table class='table'>
    <% @books.each do |book| %>
      <tr>
        <td></td>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
      </tr>
      <tr>
    <% end %>
  </table>

  </div>
 </div>