<h1>welcome to <strong>Bookers !!</strong></h1>
<p>In <strong>Bookers,</strong></p>
<p>you can share and exchange your opinions , inpressions , and emotions
</p>
<p>about various books!</p>



  <%=link_to("new_user_session_path") do %>
    <button type="button" class="btn btn-info w-50 mt-2">Log in</button>
  <% end %>
  <br>
  <br>
  <%=link_to("new_user_registration_path") do %>
    <button type="button" class="btn btn-success w-50 mt-2">Sign up</button>
  <% end %>


