// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notice {
  color: green;
  margin-bottom: 16px;
 }
 
 .error_explanation {
   color: red;
 }
 
 ul {
   padding-left: 40px;
 }
